
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    display: flex;
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    
}
section{
    text-align: center;
    width: 370px;
    
    height: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 90px hsla(219, 15%, 55%, 0.276);
}
.section-image{
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
}
.section-image img{
    width: 100%;
    border-radius: inherit;
}
.first-head{
    margin: 15px;
    font-weight: 700;
}
#section-quote{
    font-weight: bold;
    color: hsl(211, 12%, 65%);
}
@media(max-width:720px){
    section{
        min-width: 320px;
        overflow-x: scroll;
    }
}